@import "../../../common";
@import "../../../mixins";
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 250px;
  }
}

.login-form {
  .login-form-group {
    margin: auto;
    width: 100%;
    //color: white !important;
    @include md {
      display: flex;
      justify-content: center;
      //align-items: center;
      width: 60vw;
    }
    .form-outline .form-control:focus ~ .form-notch .form-notch-leading {
      border-top: 0.125rem solid #{$btn-primary};
      border-bottom: 0.125rem solid #{$btn-primary};
      border-left: 0.125rem solid #{$btn-primary};
    }
    .form-outline .form-control:focus ~ .form-notch .form-notch-middle {
      border-bottom: 0.125rem solid;
      border-color: #{$btn-primary};
    }

    .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
      border-color: currentcolor currentcolor currentcolor #{$btn-primary};
      border-bottom: 0.125rem solid #{$btn-primary};
      border-right: 0.125rem solid #{$btn-primary};
      border-top: 0.125rem solid #{$btn-primary};
    }

    .form-outline .form-control:focus ~ .form-label {
      color: #fff;
    }
    .form-outline {
      width: 100%;
      .form-label {
        color: #ffffff;
      }
    }
    padding: 10px;
    .login-form-btn {
      background-color: #{$btn-primary};
    }
    .login-form-btn:hover {
      background-color: #{$btn-primary-hover};
      color: #{$primary};
    }
  }
}
a{
  color: white;
}
.links{
  display:flex ;
  justify-content: space-between ;
  //border: 2px solid black;
  @include md {
    //justify-content: center;
    align-items: center;
    flex-direction: column;

  }
}




